
.container {
  margin: 16px auto;
  padding: 16px;
}

main .container {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

main .container .content { 
  padding: 0 1rem;
  flex-grow: 1;
}

main .container .content h2 {
  background-color: #f5f4f4;
  font-size: 1.3rem;
  font-weight:500;
  color: rgb(99, 99, 99);
}

.content p , ul {
  width: 40ch;
  font-size: 1rem;
  padding: 10px;
  line-height: 2em;
}

main .container .content span {
  margin-right: 10px;
}

main .container picture {
  margin-right: 10px;
}

main .container .content h2 {
  font-size: 1.6rem;
  font-weight: bold;
}
main .container .content ul {
  font-size: 1.2rem;

}
